<%= simple_form_for :mensagem, url: mensagens_path do |f| %>
    <div class="form-inputs">
      <%= f.input :remetente,
                  label: false,
                  placeholder: "Seu Nome " %>
      <%= f.input :texto, as: :text,
                  label: false,
                  placeholder: "Deixe uma mensagem..." %>
      <%= f.input :presente_id, as: :hidden, input_html: {value: @presente.id} %>

      <div class="form-actions text-right">
        <%= f.button :submit, "Enviar", class: "button" %>
      </div>
    </div>


<% end %>