<% @lista.presentes.order('valor ASC').each do |presente| %>
    <div class="panel">
      <% if(user_signed_in? && current_user.id == @lista.user_id) %>
          <%= link_to edit_presente_path(presente), class: "button right", title: "Editar Presente" do %><i class="fa fa-edit"></i><% end %>
      <% end %>
      <div class="row">
        <div class="large-6 columns">
          <%= image_tag(presente.foto, width: "100%", alt: presente.nome, title: presente.nome) %>
        </div>
        <div class="large-6 columns">
          <div class="row">
            <div class="large-12 columns">
              <h4><%= presente.nome %></h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="large-12 columns text-center">
              <h4><%= number_to_currency(presente.valor) %></h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="large-12 columns text-center">
              <% if (@lista.fechada?) %>
                  <div class="button"><i class="fa fa-lock"></i> Compra Encerrada</div>
              <% else %>
                  <% if (presente.lista.id == 1) %>
                      <%= link_to 'COMPRAR', presente_checkout_path(presente.id), title: presente.url, class: "comprar button", target: "_blank" %>
                  <% else %>
                      <%= link_to 'COMPRAR', presente_url, title: presente.url, class: "comprar button", target: "_blank" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <% @presente = presente %>
          <%= render 'mensagens' %>
        </div>
      </div>
    </div>
<% end %>