<div class="row">
  <h1>Presentes</h1>

  <%= link_to t('Adicionar Presente'), new_presente_path, class: "button right" %>

    <table>
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Lista</th>
          <th>URL</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @presentes.each do |presente| %>
          <tr>
            <td><%= image_tag(presente.foto, size: "100x100", alt: presente.nome, title: presente.nome) %></td>
            <td><%= presente.nome %></td>
            <td><%= number_to_currency(presente.valor) %></td>
            <td><%= link_to presente.lista.nome, lista_path(presente.lista.id), title: presente.lista.nome %></td>
            <td><%= link_to 'URL', presente.url, title: presente.url, target: "_blank" %></td>
            <td><%= link_to 'Editar', edit_presente_path(presente) %></td>
            <td><%= link_to 'Excluir', presente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
