<div class="row">
  <h1>Mensagens</h1>

    <table>
      <thead>
        <tr>
          <th>Remetente</th>
          <th>Mensagem</th>
          <th>Presente</th>
          <th>Lista</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @mensagens.each do |mensagem| %>
          <tr>
            <td><%= mensagem.remetente.nil? ? "Sem nome" : mensagem.remetente %></td>
            <td><%= mensagem.presente.nome.nil? ? "Sem nome" : mensagem.presente.nome %></td>
            <td><%= "#{mensagem.presente.lista.nome.nil? ? "Sem nome" : mensagem.presente.lista.nome} de #{mensagem.presente.lista.presenteados}" %></td>
            <td><%= link_to 'Visualizar', mensagem %></td>
            <% if mensagem.aprovada? %>
                <td><%= link_to 'Desaprovar', mensagem %></td>
            <% else %>
                <td><%= link_to 'Aprovar', mensagem %></td>
            <% end %>
            <td><%= link_to 'Excluir', mensagem, method: :delete, data: { confirm: 'Excluir mensagem?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>


