<h1>Listing mensagens</h1>

<table>
  <thead>
    <tr>
      <th>Remetente</th>
      <th>Texto</th>
      <th>Presente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagens.each do |mensagem| %>
      <tr>
        <td><%= mensagem.remetente %></td>
        <td><%= mensagem.texto %></td>
        <td><%= mensagem.presente %></td>
        <td><%= link_to t('Show'), mensagem %></td>
        <td><%= link_to t('Edit'), edit_mensagem_path(mensagem) %></td>
        <td><%= link_to t('Delete'), mensagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Mensagem'), new_mensagem_path %>
