<div class="row">
  <h1>Mensagem</h1>

  <div class="panel lista">
    <h4><%= "De #{@mensagem.remetente}:" %></h4>
    <hr/>
    <span><%= @mensagem.texto %></span>
    <hr/>
    <h6><%= "Lista: #{@mensagem.presente.lista.nome} de #{@mensagem.presente.lista.presenteados}" %></h6>
    <h6><%= "Presente: #{@mensagem.presente.nome}" %></h6>
    <h6><%= "Em #{@mensagem.created_at.strftime('%d de %B de %Y às %H:%M')}" %></h6>
  </div>

  <% if @mensagem.aprovada? %>
      <td><%= link_to 'Desaprovar', mensagem_desaprovar_path(@mensagem.id), class: "button" %></td>
  <% else %>
      <td><%= link_to 'Aprovar', mensagem_aprovar_path(@mensagem.id), class: "button" %></td>
  <% end %>

  <%= link_to "Voltar", mensagens_path, class: "button" %>
</div>

