<section class="busca">
     <div class="row">
      <div class="large-12 columns">
        <div class="panel lista text-center">
          <div class="logo">
            <div class="row">
              <div class="small-12 large-12 columns text-center">
                <%= link_to(root_path) do %>
                    <i class="fa fa-gift fa-5x"></i><h1>Lista Presentes</h1>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="busca">
                <%= simple_form_for :pesquisar, url: busca_listas_path do |f|%>
                    <%= f.error_notification %>
                    <div class="row">
                      <%= f.input :palavras_texto,
                                  label: false,
                                  placeholder: "Nome da lista ou das pessoas presenteadas",
                                  wrapper_html: {class: "large-12 columns text-center"} %>
                    </div>
                    <div class="row">
                      <%= f.button :submit, "Buscar Lista", class: "button submit" %>
                    </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

