<section class="busca">
     <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="panel lista text-center">
          <div class="logo">
            <div class="row">
              <div class="small-12 medium-12 large-12 columns text-center">
                <%= link_to root_path do %>
                    <i class="fa fa-gift fa-5x hide-for-small"></i><h1 class="hide-for-small">Lista Presentes</h1>
                    <i class="fa fa-gift fa-2x hide-for-large hide-for-medium"></i><h2 class="hide-for-large hide-for-medium">Lista Presentes</h2>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="busca">
                <%= simple_form_for :pesquisar, url: busca_listas_path do |f|%>
                    <%= f.error_notification %>
                    <div class="row">
                        <%= f.input :palavras_texto,
                                  label: false,
                                  placeholder: "Pesquisar pelo nome das pessoas ou da lista",
                                  wrapper_html: {class: "campo small-11 medium-10 large-10 columns"} %>
                    </div>
                    <div class="row">
                      <%= f.button :submit, "Buscar", class: "button submit" %>
                    </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <div class="small-12 medium-6 large-6 columns">
      <%= link_to 'Como Funciona', page_path('como_funciona'), class: "button-large radius" %>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <%= link_to 'Criar Lista', new_user_registration_path, class: "button-large radius" %>
    </div>
  </div>
</div>

