<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Listapresentes" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Listapresentes" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/analytics' %>
    </footer>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#presente_url').keydown(carrega_url);
            $('#presente_url').click(carrega_url);

            function carrega_url(){
                $('#dados_presente_url_produto').attr('value', $('#presente_url').val());
            }

            $('#presente_url').blur(function(){
                if ($('#presente_url').val() != $('#dados_presente_url_produto').val()) {
                    $('#dados_presente_url_produto').attr('value', $('#presente_url').val());
                    $('.escolher-fotos .panel').text('Carregando imagens do site...');
                    $('form#fotos-produto').submit();
                }
            })

            $('form#fotos-produto')
                    .bind("ajax:success", function(evt, data, status, xhr){
                        $('.escolher-fotos .panel').text('');
                        $('.escolher-fotos .panel').append(xhr.responseText);
                    })
                    .bind("ajax:error", function(evt, data, status, xhr){
                        $('.escolher-fotos .panel').text('Nenhuma imagem encontrada');
                        $('.escolher-fotos .panel').hide('3000');
                        $('.escolher-fotos .panel').show('3000');
                    });
        });
    </script>
  </body>
</html>
